<settings>
    <setting propertyKey="@Properties.ShowSeconds" title="@Strings.SettingShowSeconds">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.Background" title="@Strings.SettingBackground">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SettingBackgroundPhoto</listEntry>
            <listEntry value="1">@Strings.SettingBackgroundVector</listEntry>
        </settingConfig>
    </setting>
</settings>
